body{
	background-color: #cecccc;
}

.container{
	background-color: #404247;
	border: 1px solid #404247;
	margin:  0% 10% 0% 10%;
	padding: 100px;
}
.container img{
	width: 40%;
}

.container img:hover{
	width: 90%;
	font-size: center;
}

h3{
	color: #1a8c10;
}

h2{
	color: #0f3bed;
}

p{
	color: #108c6b;
}

h4{
	color: #af1c1c;
}


ol{
	color: #108c6b;
}
